:root.theme-dark {
  --accent-color: #ff0070;
  --accent-bg-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --bg-color: #000;
  --bg-image: url("../images/cover-image-dark.png");
}