:root.theme-light {
  --accent-bg-color: #FF8DCB;
  --accent-color: #000;
  --text-color: #000;
  --title-color: #FFC2E6;
  --bg-color: #FFF1F7;
  --bg-image: url("../images/cover-image-light.png");
}

.theme-light .decorative-rec{
  display: none;
}
